nav {
	margin-bottom: 0 !important;
}
nav .navbar-brand {
	display: flex;
	justify-content: space-between;
	min-width: 140px;
	cursor: pointer;
}
nav .collapse .nav li {
	cursor: pointer;
}
#main-navbar {
	margin-top: 5px;
}
.current-user-icon {
	background-color: rgb(45, 108, 180);
	border-radius: 50%;
}
.current-user-icon .fa-bold {
	color: white;
}
