.post-item {
	display: flex;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
.post-item .checkbox {
	flex: 1;
}
.post-item .title {
	flex: 5;
}
.post-item .title .title-options{
	visibility: hidden;
}
.post-item .title:hover> .title-options{
	visibility: visible;
}
.post-item .author-name {
	flex: 1;
}
.post-item .comment-count {
	flex: 1;
}
.post-item .draft-mention {
	flex: 1;
	color: orangered;
}
.post-item .published {
	flex: 1;
}
.loader-icon {
	font-size: 30px;
	color: blue;
	text-align: center;
}
.content + .loader-icon {
	display: none;
}
.content.is-loading + .loader-icon {
	display: block;
}
