.editor-holder {
	position: absolute;
	bottom: 0;
	top: 125px;
	width: 100%;
}
.editor-tools {
	position: relative;
	top: 0;
	height: 50px;
}
.main-editor {
	height: calc(100% - 73px);
	position: relative;
	background-color: rgb(240, 240, 240);
	bottom: 0;
}
.main-editor textarea {
	position: relative;
	top: 10px;
	left: 150px;
	height: calc(100% - 20px);
	border-color: #bbbbbb;
}
