#main-components-navigation {
	float: left;
	width: 300px;
	height: 700px;
	overflow: auto;
}
#main-components-navigation ul.nav {
	margin-top: 20px;
}
#main-components-body-wrapper {
	margin-left: 300px;
	padding: 20px;
}
#posts-heading {
	height: 50px;
}
.blog-description {
	margin-left: 30px;
}
body {
	margin-top: 50px;
}
.glyphicon {
	margin-right: 10px;
}
#accordion {
	margin-top: 30px;
	width: 250px;
}
#accordion ul {
	list-style-type: none;
}
#accordion ul.panel-body {
	margin-left: 30px;
}

.panel.active .panel-navlink-heading {
	color: orange;
}
