div.top-holder {
	display: flex;
	padding: 20px;
	border-bottom: .5px solid #ddd;
}
div.top-holder h2 {
	margin: 0;
	font-size: 2rem;
}
div.top-holder h2 a {
	text-decoration: none;
	cursor: pointer;
}
div.top-holder input {
	font-size: 13px;
	padding-left: 5px;
	margin-right: 10px;
	margin-left: 10px;
	flex: 1;
}
.post-buttons {
	display: flex;
	justify-content: space-between;
	min-width: 430px;
}
.post-buttons .icon {
	font-size: 20px;
	padding: 5px;
}
.blogg-button {
	margin: 0;
	border: none;
	border-radius: 3px;
	background-color: #a39f9b;
	color: white;
}
.blogg-button.blogg-primary {
	color: white;
	background-color: #d67f1c;
}
